---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Coolors Exported Palette - coolors.co/271907-1b263b-f3a22d-cccdc9-56666b
$color1: rgba(39, 25, 7, 1);
$color2: rgba(27, 38, 59, 1);
$color3: rgba(243, 162, 45, 1);
$color4: rgba(204, 205, 201, 1);
$color5: rgba(86, 102, 107, 1);

// Transitions
$ui-transition-speed: 0.25s;
$phone-transition-speed: 0.5s;

// Fonts
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Work+Sans:300';

$heading-font-family: 'Work Sans', sans-serif;
$heading-font-weight: 300;

$base-font-family: 'Open Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       $color5;

// Width of the content area
$small:           320px;
$medium:          600px;
$large:           900px;
$wide:            1200px;

$footer-height: 50px;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "normalize-5.0.0",
  "base",
  "layout"
;
