---
layout: default

navigation: true
title: Home
---

<div class="student-registration-callout">
  {% if site.cc-student-registration-open %}
  <a
    class="student-registration-callout__link"
    target="_blank"
    href="https://docs.google.com/forms/d/e/1FAIpQLSeiWYPtM_XZaAx_nAksIDwnLuQoH6kJgGyZ2rtk5ICWWReLhw/viewform">
      Register Now!
    </a>
    {% else %}
    <p>Student Registration is closed. Contact your advisor for details.</p>
    {% endif %}
</div>

<div class="homepage-hero">
  <div class="homepage-hero__image">
    <img src="{{ site.baseurl }}/img/hero.jpg" alt="">
  </div>
  <div class="homepage-hero__content">
    <h1>{{ site.cc-year }} Career Convention</h1>
    <p>
      The Benton County High School Career Convention is a partnership between the Corvallis School District 509J, Oregon State University's College of Business (COB), Austin Entrepreneurship Program (AEP), Benton County High Schools, Corvallis Public Schools Foundation, and Corvallis Chamber of Commerce.
    </p>
    <p>
      The purpose of this event is to provide a career development opportunity for high school students in Benton County. This event also provides students with the opportunity to meet state career requirements in a professional business setting.
    </p>
  </div>
</div>

<div class="homepage__main" data-wrap="container">
  <div class="homepage-info-grid">

    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Students</h2>
      <p class="homepage-info-grid__copy">
        Over 800 high school juniors will be participating in this event to learn vital skills in the area of career development.
      </p>
    </div>

    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Booths</h2>
      <p class="homepage-info-grid__copy">
        Because of our eight paid sponsors the rest of the booths are <b>free</b> this year. The booths  help the students learn about the businesses in our community and what skills and knowledge are required as an employee. Students also work on social conversation skills. We target 50 booths each year and are excited to have yours! They're <b>free</b>!
      </p>
    </div>

    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Career Speakers</h2>
      <p class="homepage-info-grid__copy">
        Students will attend three career occupation panels. Each panel has three speakers specific to a career track. Each speaker has 5-8 minutes to present on their career. Speakers provide students with a snapshot of a typical day in the life of that profession.
      </p>
    </div>

    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Mock Interviews</h2>
      <p class="homepage-info-grid__copy">
        Prior to the Career Convention, students will be building their resumes, as well as developing their interviewing skills. At the event, mock interviewers will be given students to interview. Each mock interviewer will interview then critique the students in <strong>10 minute</strong> intervals.
      </p>
    </div>
  </div>


  <div class="links-area">
    <h2 class="links-area__title">Registration</h2>
    <ul class="links-area__list links-area__list--plain">

      {% for registration-link in site.cc-registration-links %}
        {% if site.cc-student-registration-open %}
        <li class="links-area__link">
          <a target="_blank" href="{{ registration-link.url }}">{{ registration-link.name }}</a>
          <span>{{ registration-link.subtitle }}</span>
        </li>
        {% else %}
          {% if registration-link.type != "student" %}
          <li class="links-area__link">
            <a target="_blank" href="{{ registration-link.url }}">{{ registration-link.name }}</a>
            <span>{{ registration-link.subtitle }}</span>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}

    </ul>

    <h2 class="links-area__title">Resources</h2>
    <ul class="links-area__list links-area__list--plain">

      {% for resource in site.cc-resources %}
        {% if resource.homepage %}
        <li class="links-area__link">
          <a target="_blank" href="{{ site.baseurl }}/{{ resource.file-name | prepend: site.cc-resources-base-url }}">{{ resource.name }}</a>
          <span>{{ resource.subtitle }}</span>
        </li>
        {% endif %}
      {% endfor %}

    </ul>
  </div>
</div>

{% include sponsors.html %}
