---
layout: default

navigation: true
title: Home
---

<div class="student-registration-callout">
  <p>Register today to get started!</p>
  <br>
  {% include registration.html %}
</div>

<div class="homepage-hero">
  <!-- <div class="homepage-hero__image">
    <img src="{{ site.baseurl }}/img/hero.jpg" alt="">
  </div> -->
  <div class="homepage-hero__content">
    <h1>{{ site.cc-year }} Career Convention</h1>
    <!-- <p>
      The Benton County High School Career Convention is a partnership between the {% include partners.html %}
    </p> -->
    <p>
      As a junior, this is the time of your life when you should begin to explore what you are interested in and begin planning the steps to reach that career profession. By Fall of your senior year, you should begin applying for a school of choice, apprenticeship, gap year, or getting your soft skills in place to begin work.
    </p>
    <p>
      If you are a senior and wish to graduate by the end of first semester, you must get your career paperwork turned in and it is completed correctly by the end of first semester. You CANNOT graduate without your state career requirements completed. Check with your school counselor on what that looks like this year.
    </p>
    <p>
      <strong>Good luck! For any questions, check with your school counselor.</strong>
    </p>
  </div>
</div>

<div class="homepage__main" data-wrap="container">
  <div class="homepage-info-grid">

    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Virtual Convention</h2>
      <p class="homepage-info-grid__copy">

        The Virtual version of the Benton County High School Career Convention.
  For seniors that missed the 2021 Career Convention and all of the juniors in the county, we have put together a modified version of the convention. To get your career requirements met for this event you will need to fulfill the following requirement.
      </p>
    </div>

    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Step 1: Register</h2>
      <p class="homepage-info-grid__copy">
        To move forward with the virtual convention you need to register.
      </p>
      <br>
      <p style="text-align: center;">
        {% include registration.html %}
      </p>
    </div>
    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Mock Interviews</h2>
      <p class="homepage-info-grid__copy">
        Pick two trusted adults, other than your parents, and set up a virtual meeting to complete the interview. Examples are lifelong friends of the family, teachers, church members, or a mentor. 
      </p>
      <p>
        You'll get a link in the app to send to your interviewers. Send them a copy of your resume and then set a time for the interview. You can do this over Google Meet or Zoom, too.
      </p>
      <p>What needs to be turned in from the Mock Inteview:
        <ol>
          <li>Resume</li>
          <li>Your reflection - you submit this through the app.</li>
          <li>Make sure the person who interviewed you sends in their evaluation of the mock interview. - they submit this through the app</li>
        </ol>
      </p>
    </div>
    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Learn about careers</h2>
      <p class="homepage-info-grid__copy">
        In the app you'll have opportunity to learn about careers you're interested in. There will be various videos from professionals in those careers for you to watch along with tips for how to learn more yourself.
      </p>
      <p>
        You'll then fill out some reflections on the careers you researched.
      </p>
    </div>


    <!-- <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Students</h2>
      <p class="homepage-info-grid__copy">
        Over 800 high school juniors will be participating in this event to learn vital skills in the area of career development.
      </p>
    </div>

    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">COVID 19</h2>
      <p class="homepage-info-grid__copy">
        Because of COVID-19 this event will be virtual this year.
      </p>
    </div>

    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Career Speakers</h2>
      <p class="homepage-info-grid__copy">
        Students will attend three career occupation panels. Each panel has three speakers specific to a career track. Each speaker has 5-8 minutes to present on their career. Speakers provide students with a snapshot of a typical day in the life of that profession.
      </p>
    </div>

    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Mock Interviews</h2>
      <p class="homepage-info-grid__copy">
        Prior to the Career Convention, students will be building their resumes, as well as developing their interviewing skills. At the event, mock interviewers will be given students to interview. Each mock interviewer will interview then critique the students in <strong>10 minute</strong> intervals.
      </p>
    </div> -->
  </div>


  <div class="links-area">
    <h2 class="links-area__title">Registration</h2>
    <ul class="links-area__list links-area__list--plain">

      {% for registration-link in site.cc-registration-links %}
        {% if site.cc-student-registration-open %}
        <li class="links-area__link">
          <a target="_blank" href="{{ registration-link.url }}">{{ registration-link.name }}</a>
          <span>{{ registration-link.subtitle }}</span>
        </li>
        {% else %}
          {% if registration-link.type != "student" %}
          <li class="links-area__link">
            <a target="_blank" href="{{ registration-link.url }}">{{ registration-link.name }}</a>
            <span>{{ registration-link.subtitle }}</span>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}

    </ul>

    <h2 class="links-area__title">Resources</h2>
    <ul class="links-area__list links-area__list--plain">

      {% for resource in site.cc-resources %}
        {% if resource.homepage %}
        <li class="links-area__link">
          <a target="_blank" href="{{ site.baseurl }}/{{ resource.file-name | prepend: site.cc-resources-base-url }}">{{ resource.name }}</a>
          <span>{{ resource.subtitle }}</span>
        </li>
        {% endif %}
      {% endfor %}

    </ul>
  </div>
</div>

<!-- {% include sponsors.html %} -->
