---
layout: default

navigation: true
title: Home
---

<div class="student-registration-callout">
  {% include registration.html %}
</div>

<div class="homepage-hero">
  <div class="homepage-hero__image">
    <img src="{{ site.baseurl }}/img/hero.jpg" alt="">
  </div>
  <div class="homepage-hero__content">
    <h1>{{ site.cc-year }} Career Convention</h1>
    <p>
      The Benton County High School Career Convention is a partnership between the {% include partners.html %}
    </p>
    <p>
      As a junior, this is the time of your life when you should begin to explore what you are interested in and begin planning the steps to reach that career profession. By Fall of your senior year, you should begin applying for a school of choice, apprenticeship, gap year, or getting your soft skills in place to begin work.
    </p>
    <p>
      If you are a senior and wish to graduate by the end of first semester, you must get your career paperwork turned in and it is completed correctly by the end of first semester. You CANNOT graduate without your state career requirements completed. Check with your school counselor on what that looks like this year.
    </p>
    <p>
      <strong>Good luck! For any questions, check with your school counselor.</strong>
    </p>
  </div>
</div>

<div class="homepage__main" data-wrap="container">
  <div class="homepage-info-grid">

    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Volunteers for Convention</h2>
      <p class="homepage-info-grid__copy">
        We are seeking community members to get involved in this important event for eleventh grade students across our region. 

        Volunteers can participate by:
        <ul>
          <li>Mock interviewing students</li>
          <li>Participating in a career panel</li>
          <li>Checking in and directing students</li>
          <li>Being a community partner at a booth/table who can share services and opportunities with students (such as social services, internship or summer employment opportunities)</li>
        </ul>
      </p>
      <p>
        For booth/table reservation and general volunteering, please email Leah and Christa.
        <ul>
          <li>Christa Schmeder at <a href="mailto:Christa.Schmeder@corvallis.k12.or.us">Christa.Schmeder@corvallis.k12.or.us</a> or <a href="tel:541-757-5850">541-757-5850</a></li>
          <li>Leah Tomlin at <a href="mailto:Leah.Tomlin@corvallis.k12.or.us">Leah.Tomlin@corvallis.k12.or.us</a> or <a href="tel:541-757-5907">541-757-5907</a></li>
        </ul>
      </p>
    </div>
    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Volunteer Requirements</h2>
      <p class="homepage-info-grid__copy">
        <strong>Important note:</strong>
        All career convention volunteers will be required to complete the <a href="https://www.csd509j.net/students-parents/volunteer/volunteer-application/" target="_blank">Corvallis School District volunteer application.</a>
      </p>
    </div>
    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Financial Support</h2>
      <p class="homepage-info-grid__copy">
        If you would like to provide financial support for the Benton County Career Convention, please make a donation to the <a href="https://cpsfoundation.org/contribute/donate/" target="_blank">Public Schools Foundation</a> and note "Benton County Career Convention" in the comment.
      </p>
    </div>
    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Sign Up to Volunteer</h2>
      <p class="homepage-info-grid__copy">
       <ul>
        <li><a href="https://www.signupgenius.com/go/20F044DABAD28A3FF2-47078483-benton#/" target="_blank" rel="noopener noreferrer">Mock Interview Sign Up</a></li>
        <li><a href="https://www.signupgenius.com/go/20F044DABAD28A3FF2-47065625-benton?scrlybrkr=850499ab#/" target="_blank" rel="noopener noreferrer">Career Speaker Sign Up</a></li>
       </ul>

      </p>
    </div>


    <!-- <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Students</h2>
      <p class="homepage-info-grid__copy">
        Over 800 high school juniors will be participating in this event to learn vital skills in the area of career development.
      </p>
    </div>

    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Career Speakers</h2>
      <p class="homepage-info-grid__copy">
        Students will attend three career occupation panels. Each panel has speakers specific to a career track. Each speaker has 5-8 minutes to present on their career. Speakers provide students with a snapshot of a typical day in the life of that profession.
      </p>
    </div>

    <div class="homepage-info-grid__block">
      <h2 class="homepage-info-grid__title">Mock Interviews</h2>
      <p class="homepage-info-grid__copy">
        Prior to the Career Convention, students will be building their resumes, as well as developing their interviewing skills. At the event, mock interviewers will be given students to interview. Each mock interviewer will interview then critique the students in <strong>10 minute</strong> intervals.
      </p>
    </div> -->
  </div>


  <div class="links-area">
    <h2 class="links-area__title">Registration</h2>
    <ul class="links-area__list links-area__list--plain">

      {% for registration-link in site.cc-registration-links %}
        {% if site.cc-student-registration-open %}
        <li class="links-area__link">
          <a target="_blank" href="{{ registration-link.url }}">{{ registration-link.name }}</a>
          <span>{{ registration-link.subtitle }}</span>
        </li>
        {% else %}
          {% if registration-link.type != "student" %}
          <li class="links-area__link">
            <a target="_blank" href="{{ registration-link.url }}">{{ registration-link.name }}</a>
            <span>{{ registration-link.subtitle }}</span>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}

    </ul>

    <h2 class="links-area__title">Resources</h2>
    <ul class="links-area__list links-area__list--plain">

      {% for resource in site.cc-resources %}
        {% if resource.homepage %}
        <li class="links-area__link">
          <a target="_blank" href="{{ site.baseurl }}/{{ resource.file-name | prepend: site.cc-resources-base-url }}">{{ resource.name }}</a>
          <span>{{ resource.subtitle }}</span>
        </li>
        {% endif %}
      {% endfor %}

    </ul>
  </div>
</div>

<!-- {% include sponsors.html %} -->
