---
layout: default

navigation: true
title: Sponsors
---

<div class="sponsors-info">
  <h3 class="sponsors-info__header">Thanks for helping empower the next generation!</h3>
  <p class="sponsors-info__copy sponsors-info__copy--special">
    Thanks to an incredibly generous donation from our Premier Sponsor all Business Booths are free this year. We'd like you to join us in thanking the Corvallis Public Schools Foundation for going above and beyond to help enable more students access to their career success.
  </p>

  <p class="sponsors-info__copy">
    Booths are needed as well as our Premier and Grand Sponsors. The booths  help the students learn about the businesses in our community and what skills and knowledge are required as an employee. Students also work on social conversation skills.
  </p>
  <p class="sponsors-info__copy">
    The success of this event is due to local volunteers and sponsors. Besides career speakers, mock interviewers, and volunteer commitment, financial assistance is needed. Please view the sponsorship levels below.
  </p>
  <div class="sponsorship-levels">
    <h2>Sponsorship Levels</h2>
    {% for level in site.cc-sponsors-levels %}
      <div class="sponsorship-levels__level">
        <h2>{{ level.name }}{% if level.note %}*{% endif %} - {{level.cost}}</h2>
        {% if level.helps %}
          <h3>Helps {{level.helps}} Students!</h3>
        {% endif %}
        {% if level.available == false %}
          <h4 class="sponsorship-levels__availability-status">No longer available</h4>
        {% endif %}
        {% if level.available == true %}
          <ul>
            {% for perk in level.perks %}
              <li>{{ perk }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <p>{% if level.note %}*{{ level.note }}{% endif %}</p>

        <div class="sponsors__sponsor-showcase">
          {% for sponsor in site.cc-sponsors %}
            {% if sponsor.type == level.type %}
            <figure class="sponsors__sponsor">
              <img class="sponsors__sponsor-logo" src="{{ site.baseurl }}{{ sponsor.logo }}" alt="{{ sponsor.name }} Logo">
              <figcaption class="sponsors__sponsor-name">{{ sponsor.name }}</figcaption>
            </figure>
            {% endif %}
          {% endfor %}
        </div>

      </div>
    {% endfor %}
  </div>
</div>



<div class="links-area">
  <h2 class="links-area__title">Registration</h2>
  <ul class="links-area__list links-area__list--plain">

    {% for registration-link in site.cc-registration-links %}
      {% if registration-link.type == "sponsor" %}
        <li class="links-area__link">
          <a target="_blank" href="{{ registration-link.url }}">{{ registration-link.name }}</a>
          <span>{{ registration-link.subtitle }}</span>
        </li>
      {% endif %}
    {% endfor %}

  </ul>

  <h2 class="links-area__title">Resources</h2>
  <ul class="links-area__list links-area__list--plain">

    {% for resource in site.cc-resources %}
      {% if resource.type == "sponsor" %}
      <li class="links-area__link">
        <a target="_blank" href="{{ site.baseurl }}/{{ resource.file-name | prepend: site.cc-resources-base-url }}">{{ resource.name }}</a>
        <span>{{ resource.subtitle }}</span>
      </li>
      {% endif %}
    {% endfor %}

  </ul>
</div>
