---
layout: default

navigation: true
title: Students
---

<div class="students__main" data-wrap="container">
  <div class="students-info">
    <img class="students-info__image" src="{{ site.baseurl }}/img/students.jpg" alt="">
    <p class="students-info__copy">
      Over 800 high school students from Alsea High School, College Hill, Corvallis High, Crescent Valley, Falls City High School, Philomath High School, Kings Valley, Monroe and Santiam Christian will attend the sixth annual Benton County Career Convention at Oregon State University.
    </p>
    <p class="students-info__copy">
      This event provides students with the opportunity to meet state career requirements in a professional business setting. It gives students a chance to develop resume writing and interviewing skills, provides them with career knowledge and the chance to network with business professionals in the local area.
    </p>
  </div>

  <div class="links-area">
    {% if site.cc-student-registration-open %}
      <h2 class="links-area__title">Registration</h2>
      <ul class="links-area__list links-area__list--plain">
        {% for registration-link in site.cc-registration-links %}
          {% if registration-link.type == "student" %}
            <li class="links-area__link">
              <a target="_blank" href="{{ registration-link.url }}">{{ registration-link.name }}</a>
              <span>{{ registration-link.subtitle }}</span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    <h2 class="links-area__title">Resources</h2>
    <ul class="links-area__list links-area__list--plain">

      {% for resource in site.cc-resources %}
        {% if resource.type == "student" %}
        <li class="links-area__link">
          <a target="_blank" href="{{ site.baseurl }}/{{ resource.file-name | prepend: site.cc-resources-base-url }}">{{ resource.name }}</a>
          <span>{{ resource.subtitle }}</span>
        </li>
        {% endif %}
      {% endfor %}

    </ul>
  </div>

</div>

{% include sponsors.html %}
