<header class="site-header">
  <!-- <nav class="site-header__navigation" data-wrap="container">
    {% for page in site.pages %}
      {% if page.title %}
        {% if page.navigation %}
          <a class="site-header__nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav> -->

  <div class="site-header__info" data-wrap="container">
    <h1 class="site-header__title">Benton County Career Convention</h1>

    <p class="site-header__partners">
    {% include partners.html %}
    </p>

    <p class="site-header__event-details">
      {{ site.cc-day }}, {{ site.cc-month }} {{ site.cc-date }}, {{ site.cc-year }} 
      <!-- | {{ site.cc-start-time }} - {{ site.cc-end-time }} -->
       <br/> At {{ site.cc-location }}
    </p>

  </div>
</header>
