* {
  box-sizing: border-box;
}

html {
  background-color: $color4;
}

img {
  max-width: 100%;
}


[class*="__list--plain"] {
  padding-left: 0;
  list-style: none;
  -webkit-padding-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

h1 {
  line-height: 48px;
  font-size: 30px;
}

h2 {
  line-height: 36px;
  font-size: 25px;
}

h3 {
  line-height: 24px;
  font-size: 21px;
}

h4 {
  line-height: 30px;
  font-size: 17px;
}


strong {
  line-height: 24px;
  font-size: 15px;
  font-weight: 700;
}

p {
  line-height: 24px;
  font-size: 15px;
}

label,
button,
small {
  line-height: 22px;
  font-size: 13px;
}

a,
a:hover,
a:active,
a:focus {
  color: inherit;
}

// Header
.site-header {
  margin: 0;
  background-color: $color2;
  color: $color4;
}

.site-header__navigation {
  @include clearfix;
  padding-bottom: 0;
  text-align: center;
}

.site-header__nav-link {
  line-height: 2rem;

  @media (min-width: $medium) {
    padding: 0 20px;
  }
}

// Footer
.site-footer {
  background-color: $color2;
  text-align: center;
  color: $color4;

  @media (min-width: $medium) {
    text-align: left;
  }
}

.site-footer__list-title {
  border-bottom: 1px solid $color5;
}

.site-footer__list {
  line-height: 1.4rem;
}

.site-content-info {
  padding: 25px 0;
  width: 100%;
  text-align: center;
}

.volunteers-info__side-note {
  font-style: italic;
}

.volunteers-table__time-slots {
  text-align: center;
}

.sponsors__level-heading {
  border-top: 1px $color1 solid;
  width: 100%;
  text-align: center;
}

.sponsors-info__copy--special {
  font-style: italic;
}
