

[data-wrap='container'] {
  @include clearfix;
  margin: 0 auto;
  padding: 30px 20px;
  width: $small - 20px;

  @media (min-width: $medium) {
    width: $medium - 20px;
  }

  @media (min-width: $large) {
    width: $large - 20px;
  }
}

// Footer
.site-footer__lists {
  @include clearfix;
  width: 100%;
}

.site-footer__list-section {
  @media (min-width: $large) {
    float: left;
    width: calc(100% / 3 - 30px);
  }
}

// Site content

.student-registration-callout {
  margin: 10px auto 40px;
  text-align: center;
}

.student-registration-callout__link {
  transition: all 200ms ease-in-out;
  border: 1px solid $color2;
  border-radius: 5px;
  padding: 10px 40px;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    background-color: $color2;
    color: $color4;
  }
}

.homepage-hero {
  background-color: $color2;
  color: $color4;

  @media (min-width: $medium) {
    display: flex;
    justify-content: space-between;
  }
}

.homepage-hero__image {
  padding: 20px;

  @media (min-width: $medium) {
    display: flex;
    align-items: center;
    min-width: 300px;
  }

}

.homepage-hero__content {
  padding: 0 20px 20px;
}

.homepage-info-grid,
.sponsors-info,
.students-info,
.volunteers-info {
  @include clearfix;

  @media (min-width: $medium) {
    float: left;
    padding-right: 20px;
    width: 80%;
  }
}

.links-area {
  @media (min-width: $medium) {
    float: left;
    width: 20%;
  }
}

.homepage-info-grid__block {
  @media (min-width: $medium) {
    float: left;
    padding: 25px;
    width: 50%;
  }
}

.volunteers-table__role {
  min-width: 180px;
}

.volunteers-table__time-slots {
  min-width: 100px;
}
