// Coolors Exported Palette - coolors.co/271907-1b263b-f3a22d-cccdc9-56666b
$color1: rgba(39, 25, 7, 1);
$color2: rgba(27, 38, 59, 1);
$color3: rgba(243, 162, 45, 1);
$color4: rgba(204, 205, 201, 1);
$color5: rgba(86, 102, 107, 1);
